<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="refMaterial.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="body">
<div class ="topnav">
<b><a class ="Cname">BrinGo</a></b>
</div>
<div class="topnav">
  
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="  Search.." class="search">
</div>
 <div class="container">
    <div class="body">
        <br>
        <i class="glyphicon glyphicon-user"></i>
        <img src="user.png" class="user">
        <label><font class="user">user1</font></label>
        <br>
        <br>
        <div class="main1">
           <i class="fa fa-file icondoc" ></i>
           <label class="control-label" style="margin-right: 10px;">  ADBMS Query_Processing  </label>
            <a href="Query_Processing.pdf" target="_blank"><button class="button preview">preview</button></a>
            <a href="Query_Processing.pdf" download><button class="button download" >Download</button></a>
        </div>
            
        
        <br>
    </div>
    </div>
    <div class="container">
    <div class="body">
        <br>
        <i class="glyphicon glyphicon-user"></i>
        <img src="user.png" class="user">
        <label><font class="user">user2</font></label>
        <br>
        <br>
        <div class="main1">
           <i class="fa fa-file icondoc" ></i>
           <label class="control-label" style="margin-right: 50px;">  DBMS_Design  </label>
           <a href="DDB_design.pdf" target="_blank"><button class="button preview">preview</button></a>
           <a href="DDB_design.pdf"><button class="button download">Download</button></a>
        </div>
        <br>
        </div>
    </div>
    <div class="container">
    <div class="body">
        <br>
        <i class="glyphicon glyphicon-user"></i>
        <img src="user.png" class="user">
        <label><font class="user">user1</font></label>
        <br>
        <br>
        <div class="main1">
           <i class="fa fa-file icondoc" ></i>
           <label class="control-label" style="margin-right: 10px;"> Query_Decomposition </label>
            
            <div style="margin-top: 20px ; margin-left: 20px">
            <a href="QueryDecomposition.pdf" target="_blank"><button class="button preview">preview</button></a>
            <a href="QueryDecomposition.pdf" download><button class="button download" >Download</button></a>
            </div>
        </div>
            
        <br>
    </div>
    </div>
    
</body>
</html>